#navbar {
    background: rgba(68, 255, 124, 0.644);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
}

#container {
    background: #FFF;
    width: 800px;
    /*
    Esta definido automaticamente as laterais
    */
    margin: 10px auto;
    padding: 10px;
    /*position: relative;*/
}

#p1 {
    border: 1px solid red;
    position: fixed;
    top: 80px;
    background-color: #FFF;
}

#p2 {
    border: 1px solid red; 
    position: fixed;
    right: 80px;
    background-color: #FFF;
}

#p3 {
    border: 1px solid red;
    position: fixed;
    bottom: 80px;
    background: #FFF;
}

#p4 {
    border: 1px solid red;
    position: fixed;
    left: 80px;
    background: #FFF;
}
body {
    background: #007fc7;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(134, 133, 31); 
}


p {
    /*
    Posição "static" é padrão para os documentos html
    */
    width: 300px;
}

.absolute {
    border: 1px solid red;
    /*Para usar:
    position: absolute;
    É preciso utilizar propriedades de deslocamento para movimentar o paragráfo, que é o caso no momendo, sendo as propriedades:
    top, right, bottom e left

    Ele vai ser posicionado de acordo com o container que tem uma possição se não ele vai se basear no corpo da página

    Exemplo:
    position: absolute;
    top: 20px;*/
    position: fixed;
    
}