/*
Modelo de Caixa

.conteudo {
    border: 1px solid red;
    Padding
    Configurando cada lado
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
    todos os lados de uma vez só, porem quando vai ser configurado sempre da Direita para esquerda, no sentido horario começando pelo "top"
    padding: 20px 15px 10px 5px;

    Deixa todos os lados de um tamanho só (facilitado)
    padding: 20px;

    quando configurado o 1º valor é "top/bottom" o segundo é "left/right"
    padding: 20px 5px;
    padding: 20px;

    Margin
    Configurando cada lado
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
    todos os lados de uma vez só, porem quando vai ser configurado sempre da Direita para esquerda, no sentido horario começando pelo "top"
    margin: 20px 15px 10px 5px;

    Deixa todos os lados de um tamanho só (facilitado)
    margin: 20px;
    
    quando configurado o 1º valor é "top/bottom" o segundo é "left/right"
    margin: 20px 5px;
    margin: 10px;

    ;width: 150px
}

.conteudo2 {
    border: 1px solid red;
    margin: 50px;
    width: 150px
}
*/

#noticia {
    background: aquamarine;
    border: 1px solid gray;
    padding: 10px;
}

h2 {
    margin: 0px
}