.borda {
    border: 1px solid #f4f4;

    /* Modificar comportamento de um elemento Block
    display: inline;
    */

    /* Modificar comportamento de um elemento Inline
    display: block;
    */

    /* Só quebra a linha quando o conteudo não cabe mais na tela
    display: inline-block;
    */

    /*
    inline: se mantem na mesma linha
    block: sempre uma linha a baixo
    inline-block: fica na mesma linha se tiver espaço
    */
}