#navbar {
    background: rgba(68, 255, 124, 0.644);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(134, 133, 31); 
}